@model Dashboard360.Lib_Primavera.Model.Cliente
@section CustomScripts {
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/plugins/morris/morris.min.js")
    @Scripts.Render("~/Scripts/plugins/morris/raphael.min.js")
    @Scripts.Render("~/Scripts/Clients/clientDetailsManager.js")
}

@section CustomStyles{
    @Styles.Render("~/Content/plugins/morris.css")
}
<div id="client-id" class="hidden">@ViewData["clientID"]</div>
<div style="margin-top: 30px">
    <!-- Page Title-->
    <div class="row page-title" style="text-align: center;">
        <h2>
            <span id="yearTitle"><h2> @Model.CodCliente - @Model.NomeCliente</h2> </span>
        </h2>
        <h3> @Model.Morada </h3>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <!-- Total Sales -->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingSalesTotal"></span><span class="totalSales"></span></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-toggle="modal" data-target="#salesList">
                            <div class="panel-footer">
                                <span class="pull-right">Total in Sales <i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Total Sales This Year-->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingSalesTotal"></span><span class="totalSalesThisYear"></span></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-toggle="modal" data-target="#salesList">
                            <div class="panel-footer">
                                <span class="pull-right">Total Sales This Year <i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Average Sale -->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingSalesTotal"></span><span class="averageSale"></span></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-toggle="modal" data-target="#salesList">
                            <div class="panel-footer">
                                <span class="pull-right"> Average Sale <i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Average Sale THis year-->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingAvgExpense"></span><span class="averageSaleThisYear"></span></div>

                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-right">Average Expense Per Customer</span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Total in Orders -->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingSalesTotal"></span><span class="totalOrders"></span></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-toggle="modal" data-target="#salesList">
                            <div class="panel-footer">
                                <span class="pull-right"> Total In orders this year<i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Total Paid -->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingSalesTotal"></span><span class="totalPaid"></span></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-toggle="modal" data-target="#salesList">
                            <div class="panel-footer">
                                <span class="pull-right"> Total Paid<i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>  
            </div>
        </div>
        <!-- Top Products -->
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row" style="text-align: center;">
                        <div class="col-xs-12">
                            <div style="font-size: 25px;">Seasonality of orders</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="loadingTopClients"></span>
                    <div id="top-clients"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <!-- Top Products Sold [Table] -->
        <div class="col-lg-10 col-md-6">
            <div class="panel panel-orange">
                <div class="panel-heading">
                    <div class="row" style="text-align: center;">
                        <div class="col-xs-12">
                            <span style="font-size: 25px;">Best Selling Products </span>
                            <span class="pull-right">
                                <a data-toggle="modal" data-target="#topProductsList">
                                    <i class="fa fa-plus-circle fa-2x" style="color: white!important;"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="loadingTopProducts" style="padding-left: 380px"></span>
                    <div id="top-products"></div>
                </div>
            </div>
        </div>
    </div>
</div>