@model Dashboard360.Lib_Primavera.Model.Cliente
@section CustomScripts {
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/plugins/morris/morris.min.js")
    @Scripts.Render("~/Scripts/plugins/morris/raphael.min.js")
    @Scripts.Render("~/Scripts/Clients/clientDetailsManager.js")
}

@section CustomStyles{
    @Styles.Render("~/Content/plugins/morris.css")
}

<div id="client-id" class="hidden">@ViewData["clientID"]</div>
<div style="margin-top: 30px">
    <!-- Page Title-->
    <div class="row page-title" style="text-align: center;">
            <div id="yearTitle"><h2> @Model.CodCliente - @Model.NomeCliente</h2> </div>
        <h3> @Model.Morada </h3>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <!-- Total Sales -->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingSalesTotal"></span><span class="totalSales"></span></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-toggle="modal" data-target="#salesList">
                            <div class="panel-footer">
                                <span class="pull-right">Total in Sales <i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Total Sales This Year-->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingSalesTotalThisYear"></span><span class="totalSalesThisYear"></span></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-toggle="modal" data-target="#salesYearList">
                            <div class="panel-footer">
                                <span class="pull-right">Total Sales This Year <i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row margin">
                <!-- Average Sale -->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-orange">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingAverageSale"></span><span class="averageSale"></span></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-toggle="modal" data-target="#salesList">
                            <div class="panel-footer">
                                <span class="pull-right"> Average Sale <i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Average Sale This year-->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingAverageSaleThisYear"></span><span class="averageSaleThisYear"></span></div>

                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-right">Average Sale This Year </span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row margin">
                <!-- Total in Orders -->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingTotalOrders"></span><span class="totalOrders"></span></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-toggle="modal" data-target="#ordersList">
                            <div class="panel-footer">
                                <span class="pull-right"> Total In Orders This Year <i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Total Paid -->
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-purple">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-euro fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div class="huge"><span class="loadingSalesTotal"></span><span class="totalPaid"></span></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-toggle="modal" data-target="#paidList">
                            <div class="panel-footer">
                                <span class="pull-right"> Total Paid <i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Seasonality -->
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row" style="text-align: center;">
                        <div class="col-xs-12">
                            <div style="font-size: 25px;">Seasonality of Sales </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="text-align: center;">
                    <span class="loadingSeasonality"></span>
                    <canvas id="seasonality" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <!-- Top Products Sold [Table] -->
        <div class="col-lg-10 col-md-6">
            <div class="panel panel-orange">
                <div class="panel-heading">
                    <div class="row" style="text-align: center;">
                        <div class="col-xs-12">
                            <span style="font-size: 25px;">Best Selling Products </span>
                            <span class="pull-right">
                                <a data-toggle="modal" data-target="#topProductsList">
                                    <i class="fa fa-plus-circle fa-2x" style="color: white!important;"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="loadingTopProducts" style="padding-left: 380px"></span>
                    <div id="top-products"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Sales List Modal -->
<div class="modal fade" id="salesList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header green">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Sales List</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th> Type </th>
                                <th> Date </th>
                                <th> Total </th>
                            </tr>
                        </thead>
                        <tbody class="sales-modal-body"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Yearly Sales List Modal -->
<div class="modal fade" id="salesYearList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Sales List For Current Year</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th> Type </th>
                                <th> Date </th>
                                <th> Total </th>
                            </tr>
                        </thead>
                        <tbody class="sales-year-modal-body"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Orders List Modal -->
<div class="modal fade" id="ordersList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Orders List</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th> Date </th>
                                <th> Total </th>
                            </tr>
                        </thead>
                        <tbody class="orders-modal-body"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>