@section CustomScripts {
    @Scripts.Render("~/Scripts/plugins/morris/morris.min.js")
    @Scripts.Render("~/Scripts/plugins/morris/raphael.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/HumanResources/getNumberOfEmployees.js")
    @Scripts.Render("~/Scripts/HumanResources/getNumberOfFemaleEmployees.js")
    @Scripts.Render("~/Scripts/HumanResources/getAverageEmployeeByAge.js")
    @Scripts.Render("~/Scripts/HumanResources/getHumanResourcesExpenses.js")
    @Scripts.Render("~/Scripts/HumanResources/getCustomersPerEmployees.js")
    @Scripts.Render("~/Scripts/HumanResources/getAverageEmplyomentInCompany.js")
    @Scripts.Render("~/Scripts/HumanResources/getRevenuePerEmployee.js")

}


@section CustomStyles{
    @Styles.Render("~/Content/plugins/morris.css")
}


<!-- Page Title -->
<div class="row page-title" style="text-align: center;">
    <h2> <a id="previousYear" href="#"> <i class="fa fa-arrow-left fa-1x"></i> </a> | 2016 | </h2>
</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6 col-md-12">
        <div class="row">
            <div class="col-lg-6 col-md-4">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-2">
                                <i class="fa fa-users fa-3x"></i>
                            </div>
                            <div class="col-xs-10 text-right">
                                <div class="huge"><span class="loadingNumCustomers"></span><span class="numberOfEmployees"></span></div>
                            </div>
                        </div>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#totalEmployeesList">
                        <div class="panel-footer">
                            <span class="pull-right">Number of Employees <i class="fa fa-plus-circle"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Average expenses per customer -->
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-2">
                                <i class="fa fa-euro fa-3x"></i>
                            </div>
                            <div class="col-xs-10 text-right">
                                <div class="huge"><span class="loadingNumCustomers"></span><span class="humanResourcesExpenses"></span></div>

                            </div>
                        </div>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#totalHumanResourcesExpenses">
                        <div class="panel-footer">
                            <span class="pull-right">Human Resources Expenses <i class="fa fa-plus-circle"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row margin">
            <!-- Avg Sale Per Customer -->
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-2">
                                <i class="fa fa-minus-square-o fa-3x"></i>
                            </div>
                            <div class="col-xs-10 text-right">
                                <div class="huge"><span class="loadingNumCustomers"></span><span class="revenuePerEmployee"></span></div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-right">Revenue Per Employee</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-2">
                                <i class="fa fa-user fa-3x"></i>
                            </div>
                            <div class="col-xs-10 text-right">
                                <div class="huge"><span class="loadingNumCustomers"></span><span class="costumersPerEmployee"></span></div>

                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-right">Number Of Costumers Per Employee</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row margin">
            <!-- Avg Sale Per Customer -->
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-2">
                                <i class="fa fa-user fa-3x"></i>
                            </div>
                            <div class="col-xs-10 text-right">
                                <div class="huge"><span class="loadingNumCustomers"></span><span class="averageEmplTimeComp"></span></div>
                            </div>
                        </div>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#totalAverageTimeEmplymentComapany">
                        <div class="panel-footer">
                            <span class="pull-right">Average Emplyoment Time in the Company <i class="fa fa-plus-circle"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-2">
                                <i class="fa fa-users fa-3x"></i>
                            </div>
                            <div class="col-xs-10 text-right">
                                <div class="huge"><span class="loadingSalesTotal"></span><span class="numberOfFemaleEmployees"></span></div>

                            </div>
                        </div>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#totalFemaleEmployees">
                        <div class="panel-footer">
                            <span class="pull-right"> Number Of Female Employees <i class="fa fa-plus-circle"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-2">
                                <i class="fa fa-user fa-3x"></i>
                            </div>
                            <div class="col-xs-10 text-right">
                                <div class="huge"><span class="loadingSalesTotal"></span><span class="averageEmployeeAge"></span></div>

                            </div>
                        </div>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#totalaverageEmployeeAgee">
                        <div class="panel-footer">
                            <span class="pull-right"> Average Employee By Age <i class="fa fa-plus-circle"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Total Employees Modal -->
<div class="modal fade" id="totalEmployeesList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-yellow">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">All Employees</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover total-employees-modal-body" style="width: 100%;">
                        <thead>
                            <tr>

                                <th> Name </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Total Female Employees Modal -->
<div class="modal fade" id="totalFemaleEmployees" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-yellow">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Female Employees</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover total-female-employees-modal-body" style="width: 100%;">
                        <thead>
                            <tr>
                                <th> Name </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Employees Name and Age Modal -->
<div class="modal fade" id="totalaverageEmployeeAgee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-yellow">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Employees Ages</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover total-name-age-employees-modal-body" style="width: 100%;">
                        <thead>
                            <tr>
                                <th> Name </th>
                                <th> Age </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Human Resources Expenses Modal -->
<div class="modal fade" id="totalHumanResourcesExpenses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-yellow">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Human Resources Expenses </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover total-human-resources-modal-body" style="width: 100%;">
                        <thead>
                            <tr>
                                <th> Name </th>
                                <th> Annual Base Salary (€) </th>
                                <th> Annual Holiday and Christmas Subsidy (€) </th>
                                <th> Annual Food Allowance (€) </th>
                                <th> Annual Social Security Expenses With Employee (€) </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Time employment Modal -->
<div class="modal fade" id="totalAverageTimeEmplymentComapany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-yellow">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Average Emplyoment Time in the Company By Mounth </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover total-time-employment-modal-body" style="width: 100%;">
                        <thead>
                            <tr>
                                <th> Name </th>
                                <th> Works Since (Years) </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>











