<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width" />
    
    <title>360 Dashboard</title>
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/sb-admin.css")

    @RenderSection("CustomStyles", false)
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/plugins/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome-4.1.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar">
        @{Html.RenderPartial("navigation");}
    </div>
    <div class="container" id="page-wrapper">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/loading.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/Chart.min.js")
    @Scripts.Render("~/Scripts/Chart.js")


    @RenderSection("scripts", required: false)

    @RenderSection("CustomScripts", false)


</body>
</html>
